@using MVC.Models.Common;
@{
    Layout = null;
}

@{
    //List<Interior> list = ViewData["interiorList"] as List<Interior>;
}
<html>
<head>
    <link href="../Content/css/main.css" rel="stylesheet" type="text/css">
    <script src="../Content/jquery/jquery-1.10.2.min.js"></script>
    <script>
    function f_search(){
        if ($("#interiorCode").val() !== "" && $("#interiorName").val() !== "") {
            alert("不能同时根据代码和名称进行查询");
            return;
        };
        $.ajax({
            type: "post",
            url: "InteriorQuerySearch",
            data: {
                "modelCode": $("#modelCode").val(), "interiorCode": $("#interiorCode").val().toUpperCase(), "interiorname": $("#interiorName").val()},
            dataType: "Text",
            async: false,
            success: function (data) {
                $("#list tr:gt(0)").remove();
                //var jsondata = JSON.parse(data);
                var jsondata = $.parseJSON(data);
                /*$.each(jsondata, function (i, item) {
                    $("#list").append(
                        "<tr><td><input type='radio' name='id' value='" + item.InteriorCode+"' class='check'></input></td><td>" +
                        item.InteriorCode + "</td><td>" + item.InteriorName + "</td></tr>");
                });*/
                for (var key in jsondata) {
                    $("#list").append(
                        "<tr><td><input type='radio' name='id' value='" + key + "' class='check'></input></td><td>" +
                        key + "</td><td>" + jsondata[key] + "</td></tr>");
                };
            }
        });
    }
    function f_reset() {
        $("#interiorCode").val("");
        $("#interiorName").val("");
        };
    </script>
</head>
<body>
    <div class="right">
        <div class="pop">
            <form id="form" name="form" theme="simple" method="post">
                <table width="100%" border="0" cellspacing="0" cellpadding="0"
                       class="formTable">
                    <tbody>
                        <tr>
                            <!--<th width="100" height="30">车型代码：</th>
                            <td width="200">
                                <input name="modelCode" type="text" id="modelCode" value="@ViewData["modelCode"]" size="6" disabled="disabled">
                            </td>-->
                            <th width="100" height="30">内饰代码：</th>
                            <td width="100">
                                <input name="interiorCode" type="text" id="interiorCode" value="@ViewData["interior"]" size="2">
                            </td>
                            <th width="100" height="30">内饰代码：</th>
                            <td width="100">
                                <input name="interiorName" type="text" id="interiorName" value="@ViewData["interior"]" size="2">
                            </td>
                            <td width="100">
                                <input type="button" id="btnQuery" name="btnQuery" class="button2" value="查询" onclick="f_search()" />
                            </td>
                            <td width="100">
                                <input type="button" id="btnReset" name="btnReset" class="button2" value="重置" onclick="f_reset()" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <div class="line"></div>

            <h2>查询列表</h2>
            <div id="content" class="table">
                <table id="list" class="list" border="0" cellspacing="1" cellpadding="1">
                    <tr>
                        <td width="50" align="left" class="tit">选择</td>
                        <td align="center" class="tit">内饰代码</td>
                        <td align="center" class="tit">内饰名称</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
