
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div> sorry,you can not login
    </div>
    <a href="javascript:history.go(-1)">return</a> 
</body>
</html>
