<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="OraConnString" connectionString="DATA SOURCE=(DESCRIPTION = (ADDRESS_LIST= (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.16.120)(PORT = 1521))) (CONNECT_DATA = (SERVICE_NAME = OMDINT)));PERSIST SECURITY INFO=True;USER ID=OMDINT;PASSWORD=omdint" providerName="" />
    <add name="Db2ConnString" connectionString="DataSource=192.168.16.244;DefaultCollection=DOTNETLIB;MinimumPoolSize=3;MaximumPoolSize=5;DataCompression=True;DefaultIsolationLevel=ReadCommitted;Userid=PGMGW;Password=PGMGW" providerName="" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="BaseDao" value="MVC.Daos.Db2Impl" />
    <add key="UserDao" value="MVC.Daos.FileImpl" />

    <add key="FileDataFilePath" value="D:\\study\\net\\data" />
    <add key="RetailOrderQueryPigeSize" value="5" />
    <add key="ModelGroupDataBeginYear" value="2013" />
  </appSettings>
</configuration>