
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Header</title>
    <link href="../Content/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <table width="100%" class="top" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td class="logo"><span>欢迎</span></td>
            <td class="tit">
                <ul>
                    <li><img src="../Content/images/p_02_w.gif" width="420" height="73"></li>

                    <li style="float:right;">
                        <span>
                            <a value="Logout">注销</a>
                        </span>
                    </li>
                </ul>
            </td>
        </tr>
    </table>
</body>
</html>
