
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>上汽大众订单管理系统</title>
    <link href="../Content/css/main.css" rel="stylesheet" type="text/css">
</head>
<frameset rows="73,*" cols="*" frameborder="no" border="0" framespacing="0">
    <frame src="Header" id="topFrame" name="topFrame" scrolling="no" noresize="" ></frame>
    <frameset cols="208,10,*" frameborder="no" id="attachucp" border="0" framespacing="0">
        <frame src="MenuList" id="leftFrame" name="leftFrame" scrolling="no" noresize="" class="menu"></frame>
        <frame src="Switch" id="leftbar" name="switchFrame" scrolling="no" noresize=""  ></frame>
        <frame src="Main" id="mainFrame" name="mainFrame" scrolling="auto" allowtransparency="true" ></frame>
    </frameset>
</frameset>
<body>
</body>
</html>
