@{
    Layout = null;
}
<script src="../Content/jquery/jquery-1.10.2.min.js"></script>
<script>
    //location.href = "../RetailQuery/RetailOrderQuery";
    
    $(document).ready(function () {
        $('#mainForm').submit();
    });
    //document.getElementById("mainForm").submit();
</script>
<html>
<head>
    <title></title>
</head>
<body>
    
</body>
</html>